
.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container > div > img {
    width: 200px;
    margin: auto;
    margin-top: 60px;
}
.form {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.logo {
    width: 350px;
    height: auto;
}

.form input{
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.form button{
    width: 100%;
    border-radius: 8px;
    padding: 15px;
    border: none;
    outline: none;
    background: #001e7e;
    font-size: 15px;
    color: white;
    cursor: pointer;
}