.header{
    margin: 1% 3% 0 3%;
}

.container_rigth{
    margin: 1rem 1rem 0 1rem;
}

.container_rigth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    position: relative;
}

.container_rigth > button{
    background: transparent;
    border: none;
    outline: none;
}

.container_burguer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_burguer button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

}

.logo{
    width: 180px;
    height: 60px;
}

.btnBurguer{
    position: relative;
    cursor: pointer;
}


.hamburguer{
    display: flex;
    flex-direction: column;
    width: 60%;
    background: #f5f5f5;
    border-radius: 15px;
    position: absolute;
    top: 58px;
    right: 20px;
    z-index: 1;
}

.hamburguer span{
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.hamburguer span:hover{
    filter: brightness(1.8)
}

@media (min-width: 600px) {
    .container_rigth{
        justify-content: space-between;
        margin-right: 3%;
        margin-left: 3%;

    }

    .container_burguer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_burguer > button{
        background: transparent;
        border: none;
        outline: none;
    }

    .hamburguer{
        width: 17%;
        border-radius: 10px;
    }

    .hamburguer span {
        padding: 0.8rem;
        cursor: pointer;
    }

    .hamburguer span a {
        color: black;
    }
    
    .hamburguer span a:hover{
        color: #001881;
        text-decoration: none;
    }

}
