.loadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
}

.loadingScreen .dot{
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0.8em;
    border-radius: 50%;
}

.loadingScreen .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: anime 2s ease-out infinite;  
}

@keyframes anime {
  50%,
  75% {
      transform: scale(2.5);
  }
  80%,
  100% {
      opacity: 0;
  }
}

.loadingScreen .dot:nth-child(1) {
  background-color: #4285f5; 
}
.loadingScreen .dot:nth-child(2) {
  background-color: #ea4436; 
}

.loadingScreen .dot:nth-child(3) {
  background-color: #fbbd06;
}


.loadingScreen .dot:nth-child(1)::before {
  animation-delay: 0.2s;
} 
.loadingScreen .dot:nth-child(2)::before {
  animation-delay: 0.4s;
} 
.loadingScreen .dot:nth-child(3)::before {
  animation-delay: 0.6s;
} 