@page {
    size: landscape;
}


.grid {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.grid_courseName{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.grid > div{
    width: 90%;
    padding: 5px;
    margin: 10px auto;
    background-color: #f5f5f5;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    transition: .2s;
}

.grid > div:hover{
    transform: translateY(-3px);
}

.navigation {
    padding: 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dataView {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.infoRut{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 82%;
    border-radius: 15px;
    border: 1px solid #c3c5ca;
    padding: 4%;
    text-transform: capitalize;
}

.inforRut_down{
    display: flex;
    justify-content: space-between;
}

.infoRut_name{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.infoRut_rut{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.infoRut_corp{
    margin: 0;
    font-size: 8px;
    font-weight: 600;
    text-align: center;
}

.navigation img {
    height: 75px;
    width: auto;
}
.navigation button {
    width: 20%;
    margin-right: 40px;
    border-radius: 8px;
    padding: 15px;
    outline: none;
    background-color: transparent;
    border: 2px solid #001e7e;
    font-size: 15px;
    color: #001e7e;
    cursor: pointer;
}
.container {
   /*  background-image: url("/check.png"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-clip: inherit; */
    padding: 0;
    box-sizing: border-box;
    display: flex;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.client {
    text-align: center;
}

.status {
    text-align: center;
}

.download {
    background: #f0f0f0;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.containerRec{
    display:flex;
    align-items: center;
    position:fixed;
    bottom:0;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .rectangule1 {
    background: #F19800;
    width: 33.3%;
    height: 10px;
  }
  .rectangule2 {
    background: #001881;
    width: 33.3%;
    height: 10px;
  }
  .rectangule3 {
    background: #009cde;
    width: 33.3%;
    height: 10px;
  }

.soporte{
    display: none;
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-right: 1rem;
}

.soporteIndex{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin-right: 1rem;
}


/* === Certificado/detail === */

.detailsContainer{
    display: grid;
    gap: 15px;
    width: 80%;
    grid-template-areas: 
        "name name"
        "avatar rut"
    ;
    align-items: center;
    margin-bottom: 1rem;
}

.container_name{
    width: 90%;
    border: 1px solid #c3c5ca;
    border-radius: 15px;
    grid-area: name;
    place-self: center;
}

.avatar{
    grid-area: avatar;
    display: flex;
    justify-content: center;
}

.corp{
    grid-area: rut;
    width: 80%;
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.corp h3, .corp p {
    width: 100%;
    text-align: center;
}

.name{
    font-size: 9px;
    font-weight: 500;
    text-align: center;
}

.container_avatarCorp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.corp{
    display: flex;
    flex-direction: column;
}

.corp > * {
    margin: 0;
    padding: 4px 10px 4px 10px;
    border: 1px solid #c3c5ca;
    border-radius: 15px;
}

.corp > h3{
    font-size: 9px;
}

.corp > p{
    font-size: 14px;
    font-weight: 400;
}

.main h1{
    text-align: center;
    font-size: 1.3rem;
}

.mainCourse {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    background: #f5f5f5;
    border-radius: 15px;
    padding: 15px 0;
    align-items: center;
    line-height: 0;
    margin-top: 1rem;
}

.mainCourse > h2 {
    color: rgba(103, 212, 73, 1);
    font-size: 14px
}


.mainCourse > h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}

.mainCourse > p{
    font-size: 13px;
    font-weight: 400;
}

.infoRut_name{
    grid-area: name;
}

.infoRut_left{
    grid-area: rut
}

.infoRut_right{
    grid-area: corp
}

.infoRut{
    display: grid;
    grid-template-areas: 
        "name name"
        "rut corp"
    ;
}

.infoRut_left__p, .infoRut_right__p{
    display: none;
}



/* === circular progress bar === */
.progressBar{
    margin: 0 auto;
    text-align: center;
    background: #f5f5f5;
}

.progressBar_circle{
    position: relative;
    height: 92px;
    width: 92px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressBar_circle::before{
    content: "";
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.stateDateVen{
    color: #F44336 !important;
}

.value{
    position: relative;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: rgba(241, 152, 0, 1)
}

.socialMedia{
    display: flex;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    justify-content: space-around;
}

.windowBack{
    grid-area: atras;
    place-self: center;

}

.downloadPdf{
    grid-area: pdf;
    place-self: center;
    display: flex;
}

.downloadDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.downloadDetails span{
    text-align: center;
    font-size: 12px;
    color: rgba(115, 114, 119, 1); 
    text-decoration: none;

}

.fechaVen{
    grid-area: fecha;
    text-align: center;
    line-height: 0.5;
}

.fechaDetails{
    font-size: 14px;
} 
.footerDetail{
    display: grid;
    grid-template-areas: 
        "fecha fecha"
        "atras pdf"
    ;   
    width: 100%;
}

.spanVerificate{
    font-size: 12px;
}

.windowBack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.downloadPdf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.downloadPdf span {
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    width: 140px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(131, 131, 132);
}


@media (min-width: 800px){

    .header{
        margin: 3% 3% 0 3%;
    }

    .main h1 {
        margin: 0;
        text-align: center;
    }

    .logo{
        width: 180px;
        height: 60px;
    }
    

    .infoRut_rut{
        grid-area: rut;

    }

    .infoRut_corp{
        grid-area: corp;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .infoRut_name{
        grid-area: name;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name{
        font-size: 14px
    }

    .infoRut_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding-left: 8%;
    }

    .infoRut_left > p{
        margin: 0;
    }
    
    .infoRut_right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 0;
        padding-right: 8%;
    }

    .infoRut_right > p{
        margin: 0;
    }

    .infoRut_left__p, .infoRut_right__p{
        display: block;
    }


    .infoRut{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "rut name corp"
        ;
        height: 12vh;
        width: 65%;
        padding: 0;
    }

   
    /* === GRID === */

    .grid{
        width: 70%;
        gap: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .grid > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .grid_courseName{
        font-size: 12px;
        font-weight: 500;
    }


    /* === Certificate/Details === */

    .avatar {
        grid-area: avatar;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_name{
        display: flex;
        height: max-content;
        justify-content: center;
        align-items: center;
        grid-area: nombre
    }

    .corp{
        grid-area: corp;
        height: inherit;
        width: 100%;
    }

    .spanVerificate{
        font-size: 16px;
    }

    .corp > * {
        text-align: center;
        gap: 2px;
        height: 100%;
        justify-content: center;
    }

    .corp h3, .corp p{
        width: 100%;
        height: 50%;
        display: flex;
        margin-bottom: 3px;
        align-items: center;
    }

    .corp_rut::before{
        content:"Rut:  "
    }

    .detailsContainer{
        display: grid;
        width: 60%;
        height: 10vh;
        grid-template-columns: 25% 50% 25%;
        grid-template-areas: 
            "avatar nombre corp"
        ;
        justify-content: center;
        align-items: center;
    }

    .mainCourse{
        width: 60%;
        height: 53vh;
        margin-top: 1.5rem;
        line-height: 0;
    }
    

    .mainCourse > h2 {
        color: rgba(103, 212, 73, 1);
    }

    .progressBar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .value{
        font-size: 1.2rem;
    }

    .fechaVen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        line-height: 0px;
    }

    .windowBack{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #f5f5f5;
        border-radius: 50%;
        cursor: pointer;
        grid: atras;
    }




    .footerDetail{
        margin-top: 1rem;
        display: grid;
        width: 50%;
        grid-template-columns: 25% 50% 25%;
        grid-template-areas: 
          "atras fecha pdf"
        ;
        
    }

    .footerDetail button{
        place-self: center;
    }

    .fechaVen{
        font-size: 0.8rem;
    }

    .downloadPdf{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #f5f5f5;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
    }

    .downloadPdf span {
        position: absolute;
        top: 100%;
        margin-top: 0.5rem;
        width: 140px;
        font-size: 16px;
        font-weight: 400;
        color: rgb(131, 131, 132);
    }
  

    .soporteIndex{
        width: 100%;
        margin: -20px;
        padding-right: 1rem;
    }

    .soporte{
        display: flex;
        width: 15%;
        margin: 0;
        padding-right: 1rem;
    }

    /* === Hamburguer === */ 
    

    .downloadDetails{
        flex-direction: column-reverse;
    }
    
    

}


@media print {
    .container {
        margin: 0;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact;
    }
   
    .downloadPdf, .soporte, .windowBack{
        display: none;
    }

    .footerDetail{
        width: 100%;
        justify-content: center;
        align-items: center;
        place-content: center;
    }

    .downloadDetails{
        display: none;
    }

    .fechaVen{
        display: grid;
        grid-template-columns: 1fr;
        line-height: 20px;
        margin: 0 auto;
        text-align: center;
    }

    .download {
     display: none;
    }
    .navigation{
        display: none;
    }
}