.container_burguer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_burguer button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

}

.logo{
    width: 120px;
    height: 40px;
}

.container_rigth{
    margin: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    position: relative;
}

.container_rigth > button{
    background: transparent;
    border: none;
    outline: none;
}

.btnBurguer{
    position: relative;
    cursor: pointer;
}

.hamburguer{
    display: flex;
    flex-direction: column;
    width: 60%;
    background: #f5f5f5;
    border-radius: 15px;
    position: absolute;
    top: 58px;
    right: 20px;
}

.hamburguer span{
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color: black;
}

.hamburguer span a {
    color: black;
}

.hamburguer span a:hover{
    color: #001881;
}

.mainPolitics {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 75vh;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.mainPolitics h3{
    font-size: 1rem;
    font-weight: 500;
}

.mainPolitics p{
    text-align: justify;
    font-size: 0.5rem;
    font-weight: 400;
}

.soporte{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin: 45px 0;
    margin-right: 1rem;
}

.footerPolitics{
    display: flex;
    justify-content: center;
}

.windowBack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.containerRec{
    display:flex;
    align-items: center;
    position:fixed;
    bottom:0;
    width:100%;
    margin: 0;
    padding: 0;
}

.rectangule1 {
    background: #F19800;
    width: 33.3%;
    height: 10px;
}
.rectangule2 {
    background: #001881;
    width: 33.3%;
    height: 10px;
}
.rectangule3 {
    background: #009cde;
    width: 33.3%;
    height: 10px;
}


@media (min-width: 800px){

    .header{
        margin: 3% 3% 0 3%;
    }
    
    .container_rigth{
        justify-content: space-between;
        margin-right: 3%;
        margin-left: 3%;

    }

    .container_burguer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_burguer > button{
        background: transparent;
        border: none;
        outline: none;
    }

    .mainPolitics{
        width: 65%;
        height: 70vh;
        justify-content: center;
    }

    .mainPolitics > p{
        font-size: 12px;
    }

    .footerPolitics{
        display: flex;
        justify-content: center;
    }

    .windowBack{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: #f5f5f5;
        border-radius: 50%;
        cursor: pointer;
    }

    .soporte{
        width: 100%;
        margin: 0;
        margin-right: 5%;
    }

    /* ===Hamburguer=== */
    .hamburguer{
        width: 15%;
        border-radius: 10px;
    }

    .hamburguer span {
        padding: 0.8rem;
        cursor: pointer;
    }

}

