.containerApp{
    height: 100%;
}

.divideScreen{
    display: none;
}


/* === MODAL === */
.popUp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    background: rgba(220, 220, 220, 0.6);
    backdrop-filter: blur(2px);
}


.popWrap{
    width: 65%;
    height: 65%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textPop{
    width: 80%;
    height: 75%;
    margin: 0 auto; 
    overflow-x: scroll;
}


.titlePop{
    font-size: 14px;
    text-align: center;
}

.btnPop{
    display: flex;
    justify-content: space-evenly;
}

.paragraphPop{
    font-size: 8px;
    font-weight: 400;
    text-align: justify;
    line-height: 9.5px;
}

.btnDenegar{
    width: 30%;
    color: #737277;
    background: #f5f5f5;
    border-radius: 15px;
    outline: none;
    border: none;
    height: 30px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.btnAceptar{
    width: 30%;
    color: #001881;
    background: #f5f5f5;
    border-radius: 15px;
    outline: none;
    border: none;
    height: 30px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    /* padding-top: 10%; */
}

.main{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-evenly;
}

.labelRut{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}

.inputRut{
    background: #f5f5f5;
    border-radius: 30px;
    width: 100%;
    height: 25%;
    border: none;
    text-align: center;
}

.inputRut::placeholder{   
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #c3c5ca;
}

.inputRut:focus{
    outline: none;
}

.inputRut:focus::placeholder{
    display: none;
}

.btnValidate{
    outline: none;
    border: none;
    color: #f5f5f5;
    width: 40%;
    height: 22%;
    background: #F19800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 1px;
}

.h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.footer{
    display: grid;
    width: 100%;
    height: max-content;
    text-align: center;
    margin: 0 auto;
    line-height: 0;
}

.contactTo{
    font-size: 14px;
    font-weight: 400;
}

.socialMedia{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.containerRec{
    display:flex;
    align-items: center;
    position:fixed;
    bottom:0;
    width:100%;
    margin: 0;
    padding: 0;
}

.rectangule1 {
    background: #F19800;
    width: 33.3%;
    height: 10px;
}
.rectangule2 {
    background: #001881;
    width: 33.3%;
    height: 10px;
}
.rectangule3 {
    background: #009cde;
    width: 33.3%;
    height: 10px;
}

.containerContact{
    line-height: 20px;
}

@media (min-width: 800px){
    .containerApp{
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .div_right {
        height: 100vh;
        padding: 65px 0 0 0; 
        width: 100%;
        margin: 0 auto;
    }


    .main_qr{
        margin: 0 !important;
    }

    .qr{
        width: 120px;
        height: 120px;
    }

    .h3{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin: 0;
    }

    .p{
        font-size: 14px;
        font-weight: 400;
    }

    .divideScreen{
        display: block !important;
        z-index: -1;
    }
    
    .popWrap{
        width: 30%;
        height: 85%;
    }

    .textPop{
        width: 80%;
        height: 75%;
        margin: 0 auto; 
        overflow-x: hidden;
    }
    
    
    .titlePop{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    
    .btnPop{
        display: flex;
        justify-content: space-evenly;
    }
    
    .paragraphPop{
        font-size: 10px;
        font-weight: 400;
        text-align: justify;
        line-height: 14px;
    }

    .btnValidate{
        width: 25%;
        cursor: pointer;
    }
    
    .btnDenegar{
        height: 40px;
        background: #F5F5F5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    
    .btnAceptar{
        height: 40px;
        background: #F5F5F5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .footer {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .containerContact{
        margin: 0;
        line-height: 0;
    }

    .contactTo{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .socialMedia{
        display: flex;
        width: 50%;
        height: auto;
        margin: 0 auto;
        justify-content: space-around;
    }

    .inputRut{
        width: 60%;
        text-align: start;
        padding-left: 20px;
    }

    .labelRut{
        font-size: 18px;
        font-weight: 600;
    }

    /* .labelRut::before{
        content: "A continuación. "

    } */

}
